@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 600px) {
  .custom-navbar {
    display: none;
  }
    .custom-style {
        flex-direction: column;
        align-items: center;
    }
}


body{
    font-family: "Inter", sans-serif;
}

    .slick-slide>div {
    margin: 0 10px;
}
